<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ty.erp.daos.dao.CartoonDetailDao">

    <select id="getByCartoonRowId" resultType="CartoonDetail">
        SELECT * FROM CartoonDetail where CartoonRowId=#{CartoonRowId} order by sort asc
    </select>

    <insert id="Save">
        INSERT  INTO  CartoonDetail (RowId,CartoonRowId,Pic,CreateTime,Title,Cost,Sort,Des,ChapterStatus) VALUES (
        #{RowId},#{CartoonRowId},#{Pic},#{CreateTime},#{Title},#{Cost},#{Sort},#{Des},#{ChapterStatus}
        );UPDATE cartoon SET Total=(SELECT COUNT(*) FROM cartoondetail WHERE cartoondetail.`CartoonRowId`=#{CartoonRowId} ) WHERE rowid=#{CartoonRowId}

    </insert>

    <select id="getList" resultType="CartoonDetail">
        SELECT * from CartoonDetail order by CartoonRowId,Sort
    </select>
    <select id="Get" resultType="CartoonDetail">
        SELECT * from CartoonDetail WHERE RowId=#{CartoonRowId}
    </select>

    <update id="Update">
        UPDATE CartoonDetail SET Title=#{Title},Pic=#{Pic},Des=#{Des}  where rowid =#{RowId}
    </update>

    <update id="setAllFree">
        UPDATE CartoonDetail SET ChapterStatus=0 WHERE CartoonRowId IN
        <foreach collection="RowIdList" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        ;update Cartoon set FreeStatus=-1 WHERE RowId IN
        <foreach collection="RowIdList" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>

    </update>

    <update id="setPartFree">
        UPDATE CartoonDetail SET ChapterStatus=0 WHERE CartoonRowId IN
        <foreach collection="RowIdList" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>  and Sort &lt;=#{part}
        ;update Cartoon set FreeStatus=#{part} WHERE RowId IN
        <foreach collection="RowIdList" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
</mapper>