<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qs.erp.daos.dao.CartoonDetailChapterDao">

    <select id="getByCartoonRowId" resultType="cartoondetailchapter">
        SELECT * FROM cartoondetailchapter where CartoondetailRowId=#{CartoondetailRowId} order by sort asc
    </select>

    <insert id="Save">
        INSERT  INTO  cartoondetailchapter (RowId,CartoondetailRowId,Pic,Sort,Des) VALUES (
        #{RowId},#{CartoondetailRowId},#{Pic},#{Sort},#{Des}
        )
    </insert>

    <update id="Update">
        UPDATE cartoondetailchapter SET Sort=#{Sort},Pic=#{Pic} where rowid=#{RowId}
    </update>

    <select id="getList" resultType="cartoondetailchapter">
        SELECT * from cartoondetailchapter order by CartoondetailRowId,Sort
    </select>
    <select id="Get" resultType="CartoonDetail">
        SELECT * from cartoondetailchapter WHERE RowId=#{RowId}
    </select>
</mapper>