<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ty.erp.daos.dao.OperatorDao">
    <resultMap id="ResultMap" type="Operator">
        
    </resultMap>
    <select id="GetList" resultMap="ResultMap">
        select
        *
        from Operator WHERE  TenantRowId=#{TenantRowId}
    </select>
    <select id="Get" resultMap="ResultMap">
        select * from Operator where RowId=#{RowId} AND  TenantRowId=#{TenantRowId}
    </select>

     <update id="Update">
        update Operator
        set

            Account=#{Account}
            ,Password=#{Password}
            ,IsEnabled=#{IsEnabled}
            ,Salt=#{Salt}
         where RowId=#{RowId}   AND  TenantRowId=#{TenantRowId}
   </update>

    <delete id="Delete">
        delete from  Operator
        where RowId=#{RowId} AND  TenantRowId=#{TenantRowId}

    </delete>

    <insert id="Create">
        INSERT INTO Operator
        (
      
              RowId,
              Account,
              Password,
              IsEnabled,
              CreateDate,
              Creater,
              Salt,
              TenantRowId,
              IsSystem
        
        )
        VALUES(
              #{RowId},
              #{Account},
              #{Password},
              #{IsEnabled},
              #{CreateDate},
              #{Creater},
              #{Salt},
              #{TenantRowId},
              #{IsSystem}
        )
    </insert>

</mapper>