<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qs.erp.daos.daoext.TenantLoginDaoExt">
    <resultMap id="ResultMap" type="TenantLogin">
    </resultMap>
    <select id="GetTenantRowId" resultType="Long">
       SELECT TenantIdentity  FROM `tenantlogin`  ORDER  BY RowId DESC  LIMIT 1
    </select>
    <select id="GetTenantLogin" resultType="TenantLogin">
        SELECT *  FROM  tenantlogin  ORDER  BY RowId DESC  LIMIT 1
    </select>
    <select id="getList" resultType="TenantLogin">
        select * from tenantlogin
    </select>
    <select id="getTenantLogin" resultType="TenantLogin">
        SELECT *  FROM  tenantlogin  where TenantCode=#{TenantCode}
    </select>
</mapper>